@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { font: 12pt Arial; background-color: greenyellow;}
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal;}
button { font-size: 12pt; padding: 30px;
        background:linear-gradient(to bottom, #68b465 5%, #abd5aa 100%);
        background:linear-gradient(to bottom, #eb9b48 5%, #f7d6b3 100%);
        background:linear-gradient(to bottom, #46a7f5 5%, #86c6f8 100%);
        background:linear-gradient(to bottom, #f61f0e 5%, #fca8a1 100%);
        border:30px
    } 
/* Foi modificado a cor de fundo, foi adicionado um botãopara limpar as ações realizadas, e a cor do
botão.