@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { font: 12pt Arial; background-color: cyan;}
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal;background-color: burlywood;}
button { font-size: 12pt; padding: 30px; border-bottom-color:cornflowerblue; border-radius: 30px;}
/* Foi modificado a cor de fundo do texto e a cor do fundo da página, e o formato do botão.