@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { font: 12pt Arial; background-color: deepskyblue; }
h1, h2, h3 { font-family: 'verdana', cursive; font-weight: normal;color: darkblue;}
button { font-size: 12pt; padding: 10px; border-width: 30px;border-color: blue;}
p{ color: blue;}
/* Foi modificado a cor de fundo, adicionado um botão para limpar as ações realizadas, a fonte, cor 
da letra, e a borda do botão.