@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { font: 12pt Arial; background-color:darkgray;}
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal; background-color: aqua; color:blueviolet;}
button { font-size: 12pt; padding: 30px; background-color: blueviolet; color:aqua; padding:50px;}